.home .stage-events {
  background-image: url(https://theh.art/bodmin/wp-content/themes/whitehart/assets/images/events-header-image.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  text-shadow: 0 0 5px rgba(0, 0, 0, 0.7);

  .btn {
    text-shadow: none;
  }
}

.stage-events {
  padding: 30px 15px;
  @include media-breakpoint-up(md) {
    padding: 60px;
  }

  .event {
    margin-bottom: 15px;

    &-link {
      position: relative;
      display: block;
    }

    &-date {
      display: inline-block;
      font-size: 14px;
      background: $brand_yellow;
      padding: 5px;
      color: black;
      margin: 15px 0;
      font-weight: bold;
      @include media-breakpoint-up(md) {
        font-size: 16px;
      }
    }
  }

  h1 {
    .subtitle {
      color: $brand-yellow;
      font-style: italic;
      font-size: 22px;
      font-weight: 600;
      padding-bottom: 10px;
      position: relative;
      display: block;
      //letter-spacing: 0.1em;
    }
  }

  h3 {
    font-size: 0.9em;
    @include media-breakpoint-up(md) {
      font-size: 1.6em;
    }
  }
}
