.home-events-hero {
  background: #fff url('@images/events-header-image.jpg') center/cover no-repeat;
  text-align: center;
  padding: 40px 15px 60px;
  color: #090904;
  position: relative;

  &:after {
    background: url('@images/brush-dec_2.png');
    background-attachment: scroll;
    background-origin: content-box;
    background-position: 50%;
    background-repeat: repeat;
    background-size: cover;
    height: 40px;
    width: 100%;
    z-index: 20;
    content: '';
    display: block;
    position: absolute;
    bottom:-40px;
    left: 0;
    right: 0;
  }

  @include media-breakpoint-up(md) {
    padding: 80px 15px 120px;
  }

  &__inner {
    max-width: 900px;
    margin: 0 auto;
  }

  .event-thumbnail {
    width: 100%;
    max-width: 500px;
    margin: 0 auto;
    display: block;
  }

  .btn {
    text-shadow: none;
  }
}

.stage-events, .home-events-hero {
  padding: 30px 15px;
  @include media-breakpoint-up(md) {
    padding: 60px;
  }

  &__copy {
    max-width: 800px;
    margin: 0 auto;
  }

  .event {
    margin-bottom: 15px;

    &-link {
      position: relative;
      display: block;
    }

    &-date {
      display: inline-block;
      font-size: 14px;
      background: $brand_yellow;
      padding: 5px;
      color: black;
      margin: 15px 0;
      font-weight: bold;
      @include media-breakpoint-up(md) {
        font-size: 16px;
      }
    }
  }

  h1 {
    .subtitle {
      color: $brand-yellow;
      font-style: italic;
      font-size: 22px;
      font-weight: 600;
      padding-bottom: 10px;
      position: relative;
      display: block;
      //letter-spacing: 0.1em;
    }
  }

  h3 {
    font-size: 0.9em;
    @include media-breakpoint-up(md) {
      font-size: 1.6em;
    }
  }
}
.stage-events {
  background-image: url('@images/events-header-image.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  .col-12 {
   text-shadow: 0 0 5px rgba(0, 0, 0, .7);
  }
  position: relative;

  &:after {
    background: url('@images/brush-dec.png');
    background-attachment: scroll;
    background-origin: content-box;
    background-position: 50%;
    background-repeat: repeat;
    background-size: cover;
    height: 40px;
    width: 100%;
    z-index: 20;
    content: '';
    display: block;
    position: absolute;
    bottom:-40px;
    left: 0;
    right: 0;
  }
}
