.home-gallery {
  position: relative;
  padding: 40px 15px 15px;
  text-align: center;
  overflow: hidden;
  background: white;

  &:after {
    position: absolute;
    bottom: -40px;
    left: 0;
    right: 0;
    height: 40px;
    width: 100%;
    content: '';
    display: block;
    background: url('@images/brush-dec_2.png') 50% 0 / cover repeat;
    z-index: 20;
  }

  @include media-breakpoint-up(md) {
    padding: 80px 15px 100px;
  }

  &__header {
    max-width: 820px;
    margin: 0 auto 25px;
    color: $brand_dark;
  }

  &__copy {
    margin: 20px auto 0;
  }

  &__carousel {
    margin: 20px calc(-50vw + 50%) 0;
    position: relative;
    width: 100vw;

    @include media-breakpoint-up(lg) {
      margin-top: 40px;
      padding: 0 90px;
    }
  }

  &__slider {
    .slick-slide {
      height: 100%;
    }

    .slick-arrow {
      position: absolute;
      top: 101%;
      z-index: 3;
      width: 30px;
      height: 30px;
      border-radius: 50%;
      cursor: pointer;
      background: none !important;
      left: 18px;

      @include media-breakpoint-up(md) {
        left: -70px;
        width: 52px;
        height: 52px;
      }

      &:before {
        content: '';
        display: block;

        font-size: 18px;
        line-height: 22px;
        background: url("@images/chevron-left.svg") no-repeat center center;
        background-size: contain;
        color: white;
        background-color: white;
        padding: 15px;
        height: 30px;
        width: 30px;

        @include media-breakpoint-up(md) {
          font-size: 50px;
          line-height: 52px;
          width: 50px;
          height: 50px;
          background-color: transparent;
        }
      }

      &.slick-next {
        left: auto;
        right: 18px;

        @include media-breakpoint-up(md) {
          right: -70px;
        }

        &:before {
          background-image: url("@images/chevron-right.svg");
        }
      }

      &:hover,
      &:focus {
      }
    }
  }

  &__slide {
    position: relative;

    @include media-breakpoint-up(md) {
      width: 100% !important;
      display: inline-block;
      padding: 15px;
      margin: 0 2%;
    }
  }

  &__image {
    width: 100%;
    height: 100%;
    display: block;
    object-fit: cover;
    cursor: pointer;
    border: 5px solid white;
  }

  &__empty {
    grid-column: 1 / -1;
  }

  &__caption {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    margin: 0;
    padding: 16px 20px;
    color: white;
    font-weight: 700;
    text-shadow: 0 2px 6px rgba(0, 0, 0, 0.5);
    background: linear-gradient(
        180deg,
        rgba(0, 0, 0, 0) 0%,
        rgba(0, 0, 0, 0.8) 100%
    );
  }

  .slick-dots {
    bottom: -15px;

    li {
      margin: 0;
    }

    li button:before {
      opacity: 0.75;
    }

    li.slick-active button:before {
      opacity: 1;
      color: $brand_yellow;
    }
  }
}

.home-gallery-lightbox {
  position: fixed;
  inset: 0;
  background: rgba(0, 0, 0, 0.8);
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px;
  z-index: 9999;

  &__content {
    max-width: min(1200px, 100%);
    width: 100%;
    text-align: center;
  }

  &__image {
    max-height: 80vh;
    width: 100%;
    object-fit: contain;
    border-radius: 8px;
    background: #111;
  }

  &__caption {
    margin-top: 12px;
    color: white;
    font-weight: 600;
  }

  &__close {
    position: absolute;
    top: 16px;
    right: 16px;
    background: rgba(0, 0, 0, 0.65);
    border: 0;
    color: white;
    font-size: 32px;
    line-height: 1;
    width: 44px;
    height: 44px;
    border-radius: 50%;
    cursor: pointer;
  }

  &__nav {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background: rgba(0, 0, 0, 0.65);
    border: 0;
    color: white;
    font-size: 28px;
    line-height: 1;
    width: 44px;
    height: 44px;
    border-radius: 50%;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;

    &:hover,
    &:focus {
      background: rgba(0, 0, 0, 0.8);
    }

    &:focus-visible {
      outline: 2px solid $brand-yellow;
      outline-offset: 2px;
    }

    &[hidden] {
      display: none;
    }
  }

  &__nav--prev {
    left: 16px;
  }

  &__nav--next {
    right: 16px;
  }
}
