.our-menus {
  background: url("@images/tables-background.jpg") no-repeat center center transparent;
}

.food-banner {
  background: white;
  padding-top: 30px;
  padding-bottom: 30px;
  color: $brand_dark;

  .nav_dec {
    margin: 15px 0;
  }

  .nav_dec:before, .nav_dec:after {
    border-top: 1px dotted rgba(0, 0, 0, 0.2);
  }

  p {
    font-size: 1.156em;
  }
}

.menu-times-main strong {
  display: block;
  @include media-breakpoint-up(md) {
    display: inline-block;
  }
}

.stage-menu {
  padding: 15px;
  color: $brand-dark;
  background: url("@images/hart-food-starter.jpg");
  // font-size: 1.25rem;
  background: white;

  @include media-breakpoint-up(md) {
    padding: 60px;
  }

  .boxed-content-item {
    background: white url("@images/hart-bg.png") no-repeat -50% 97%;

    @include media-breakpoint-up(md) {
      background: white url("@images/hart-bg.png") no-repeat right bottom;
    }
  }

  .nav_dec:before, .nav_dec:after {
    border-top: 1px dotted rgba(0, 0, 0, 0.2);
  }

  .menu-section {
    text-align: left;
    margin-bottom: 30px;
    @include media-breakpoint-up(md) {
      padding-bottom: 30px;
      padding-right: 15px;
    }

    &--right {
      //text-align: right;
      @include media-breakpoint-up(md) {
        padding-right: 0px;
        padding-left: 15px;
      }
    }


    h3 {
      font-weight: bold;
      margin-bottom: 15px;
      font-family: $brand_font_heading;
      font-size: 25px;
      @include media-breakpoint-up(md) {
        font-size: 30px;
      }
    }

    .text-end {
      text-align: center !important;
    }

    h4 {
      @extend .clearfix;
      text-transform: uppercase;
      font-size: 13px;
      font-weight: 700;
      @include media-breakpoint-up(md) {
        font-size: 16px;
      }

      letter-spacing: 0.1em;

      span {
        float: right;
      }
    }
  }
}
