
.stage-intro {
  //padding:30px;

  &-header {
    position: relative;
    padding: 260px 10px 0 10px;
    margin-bottom: 30px;

    @include media-breakpoint-up(md) {
      padding: 20% 0 0 0;
      margin-bottom: 60px;

    }

    h1 {
      letter-spacing: 4px;
      font-weight: 500;
      text-transform: uppercase;

      @include media-breakpoint-up(md) {
        margin-bottom: 1rem;
        font-size: 3.5rem;
        line-height: 1.4;
      }
    }

    .stage-intro__heading-prefix,
    .stage-intro__location {
      display: block;
      font-size: 1.3rem;
    }

    .stage-intro__heading-prefix {
      padding-top: 30px;
    }

    &-image {
      position: absolute;
      top: 60px;
      right: 0;
      left: 0;
      width: 100%;
      @include media-breakpoint-up(md) {
        top: -250px;

      }
    }

    &-inner {
      margin: 0 auto;
      max-width: 620px;
      position: relative;
      z-index: 101;
      border-radius: 10px;
      background: rgba(9, 9, 4, 0.9);
      border: 1px dashed rgba(255, 255, 255, 0.5);
      padding: 15px;

      p {
        font-size: 0.9rem;
      }
    }
  }

  &-pods {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 15px 30px;
    background: url("../../images/hart-bg.png") no-repeat -95% -7%;

    @include media-breakpoint-up(md) {
      background: url("../../images/hart-bg.png") no-repeat right 13%;
    }
  }

}

.amenities-list {
  margin: 0 0 0 0;
  padding: 0;
  list-style: none;
  text-align: center;


  @include media-breakpoint-up(md) {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
  }

  li {
    display: inline-flex;
    flex-direction: column;
    align-items: center;
    margin: 0 10px 20px 10px;
    font-size: 14px;

    @include media-breakpoint-up(md) {
      width: 25%;
      margin: 15px;
      font-size: 16px;
    }

    span:last-child {
      margin-top: 8px;
      font-weight: 700;
      letter-spacing: 0.05em;
      text-transform: uppercase;
    }
  }
}

.amenities-list__icon {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 70px;
  height: 70px;
  margin: 0 auto;
  border-radius: 50%;
  background: $brand_dark;
  color: $brand_yellow;
  border: 1px dashed rgba(255, 255, 255, 0.5);

  i {
    font-size: 30px;
  }
}
