/*
Theme Name:         The White Hart Child Theme
Theme URI:          https://theh.art/
Description:        Child theme containing the White Hart front-end templates, styles, and scripts for the PixelForge framework parent.
Version:            1.0.0
Author:             PixelForge
Author URI:         https://pixelforge.local/
Template:           pixelforge-whitehart
Text Domain:        pixelforge-whitehart-child
License:            MIT License
License URI:        https://opensource.org/licenses/MIT
Requires PHP:       8.2
Requires at least:  6.6
*/
