
// Colours
$brand_dark: #080904;
$brand_yellow: #cbba57;

// Fonts
$brand_font_heading:  "Cormorant Garamond Variable", "Cormorant Garamond", serif;
$brand_font: "Raleway Variable", "Raleway", sans-serif;
