@import "tailwindcss" theme(static);
@source "../views/";
@source "../../app/";

@import '../js/slick/slick';
@import '../js/slick/slick-theme';

@import "./bootstrap-custom";
@import "./variables";
@import "./fonts";
@import "./modules";

@import "./views/base";

@import "./views/sections/header";
@import "./views/sections/footer";
@import "./views/front-page/home-intro";
@import "./views/front-page/home-events";
@import "./views/front-page/home-menu";

body {
  font-family: 'Montserrat', sans-serif;
}

.btn {
  background-color: $brand_yellow !important;
  border-color: $brand_yellow !important;
  color: $brand_dark !important;
  font-weight: bold;

  &:hover {
    background-color: darken($brand_yellow, 15%) !important;
    color: $brand_dark !important;
  }
}
.amenities-list svg {
  fill: $brand_yellow;
}
