@import "tailwindcss" theme(static);

@source "../views/";
@source "../../app/";

@import '../js/slick/slick';
@import '../js/slick/slick-theme';

@import "./bootstrap-custom";
@import "./variables";
@import "./fonts";
@import "./modules";

@import "./views/base";
@import "./views/components/booking";

@import "./views/sections/header";
@import "./views/sections/footer";
@import "./views/front-page/home-intro";
@import "./views/front-page/home-events";
@import "./views/front-page/home-menu";

:root {
  --brand-dark: #{$brand_dark};
  --brand-yellow: #{$brand_yellow};
}

body {
  font-family: 'Raleway', 'arial', sans-serif;
  padding-top: 100px;
  @include media-breakpoint-up(sm) {
    padding-top: 0;
  }
}

.btn {
  background-color: var(--brand-yellow);
  border-color: var(--brand-yellow);
  color: var(--brand-dark);
  font-weight: bold;

  &:hover {
    background-color: darken($brand_yellow, 15%);
    color: var(--brand-dark);
  }
}

.amenities-list svg {
  fill: $brand_yellow;
}
