.global-contact {
  position: relative;
  padding: 15px 15px 60px 15px;
  color: $brand-dark;
  // font-size: 1.25rem;
  background: white;

  &:after {
    position: absolute;
    // bottom: -40px;
    left: 0;
    right: 0;
    height: 40px;
    width: 100%;
    content: '';
    display: block;
    background: url('@images/brush-dec_2.png') 50% 0 / cover repeat;
    z-index: 20;
    margin-top: 59px;
  }

  @include media-breakpoint-up(md) {
    padding: 60px;
  }
  /*
    .boxed-content-item {
      background: white url("../images/hart-bg.png") no-repeat -50% 97%;

      @include media-breakpoint-up(md) {
        background: white url("../images/hart-bg.png") no-repeat right bottom;
      }
    }
  */
  .nav_dec:before, .nav_dec:after {
    border-top: 1px dotted rgba(0, 0, 0, 0.2);
  }

  h1 {
    .subtitle {
      display: block;
      color: #cbba57;
      font-style: italic;
      font-size: 20px;
      font-weight: 500;
      padding-bottom: 8px;
    }
  }

  i {
    font-size: 3.4em;
    color: $brand-yellow;
    margin-bottom: 10px;
    display: inline-block;
  }

  span {
    display: block;

    &.icon {
      margin-bottom: 10px;
    }
  }

  a {
    font-size: 1.4em;
    font-weight: bold;
    margin-bottom: 60px;
    display: block;
    @include media-breakpoint-up(md) {
      margin-bottom: 0;
    }
  }

  .section-separator {
    margin-bottom: 30px;
  }
}

