.main-header {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9999;
  width: 100%;
  background: #080904;
  font-family: $brand_font_heading;
  height: 100px;

  @include media-breakpoint-up(sm) {
    position: relative;
    height: auto;
  }


  &:before {
    content: '';
    position: absolute;
    top: 10px;
    left: 10px;
    bottom: 10px;
    right: 10px;
    background: #080904;
    z-index: 0;
    border: 1px dashed rgba(255, 255, 255, 0.5);
  }

  .brand {
    a {
      display: block;
      padding: 15px;

      img {
        max-width: 120px;
      }
    }
  }

  .mastnav {
    display: none;
    @include media-breakpoint-up(sm) {
      display: block;
      ul {
        display: block;
        margin: 0;
        padding: 45px 0 0 0;

        li {
          padding: 0;
          margin: 0 15px;
          display: inline-block;
        }

        a {
          display: block;
          color: white;
          font-family: 'Montserrat', sans-serif;
          text-transform: uppercase;
          font-weight: bold;
        }
      }
    }
  }

  .quick-links {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 9999;
    background: #080904;
    padding: 10px;
    @include media-breakpoint-up(sm) {
      position: relative;
      background: none;
      padding-top: 20px;
    }


    li {
      font-weight: bolder;
      display: inline-block;
      font-size: 2.4em;
      margin-left: 6px;
      margin-right: 6px;

      span {
        display: none;
      }

      @include media-breakpoint-up(md) {
        font-size: 3em;
      }
    }

    i {
      background: $brand_yellow;
      display: inline-block;
      height: 40px;
      border-radius: 40px;
      width: 40px;
      line-height: 40px;
      position: relative;
      top: 5px;
      margin: 0 2px;

      svg {
        position: relative;
        top: -4px;
      }

      @include media-breakpoint-up(md) {
        margin: 0 4px;
      }
    }
  }
}
