.main-header {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
  width: 100%;
  height: 90px;
  background: black;
  font-family: $brand_font_heading;

  &:before {
    content: '';
    position: absolute;
    top: 10px;
    left: 10px;
    bottom: 10px;
    right: 10px;
    border-radius: 10px;
    background: black;
    z-index: 1;
    border: 1px dashed rgba(255, 255, 255, 0.5);
  }

  .nav_dec {
    display: none;
  }

  @include media-breakpoint-up(md) {
    width: 350px;
    bottom: 0;
    height: 100%;
    overflow: hidden;
    .nav_dec {
      display: inline-block;
    }
  }

  &-container {
    position: absolute;
    top: 20px;
    left: 20px;
    bottom: 20px;
    right: 20px;
    z-index: 2;
  }

  .main-header-contacts {
    position: absolute;
    bottom: 3px;
    left: 50px;
    right: 0;
    padding: 0 40px;
    z-index: 505;
    @include media-breakpoint-up(md) {
      bottom: 20px;
      left: 0;
    }
  }

  .main-header-contacts-wrap {
    padding-top: 25px;
    text-align: center;
    /* beasties:include */
    @include media-breakpoint-up(md) {
      display: block;
    }
  }

  .main-header-contacts-wrap li {
    font-weight: bolder;
    display: inline-block;
    font-size: 2.4em;
    margin-left: 6px;
    margin-right: 6px;
    @include media-breakpoint-up(md) {
      font-size: 3em;
    }

    i {
      color: $brand_yellow;
      position: relative;
      top: 5px;
      margin: 0 2px;

      @include media-breakpoint-up(md) {
        margin: 0 4px;
      }
    }
  }

  .main-header-contacts-wrap li a {
    color: #fff
  }

  .main-header-contacts-wrap li span {
    display: none;
  }

  .header-social {
    border-top: 1px dashed rgba(255, 255, 255, .2);
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 20px 0;
    background: black;
    z-index: 521;
    @include media-breakpoint-up(md) {
      margin-top: 20px;
      padding-top: 34px;
      position: relative;
      bottom: 0;
    }
  }

  .header-social a {
    color: $brand_yellow;
    display: inline-block;
    margin: 0 20px;
  }

}
.main-nav-wrapper {
  position: relative;
  z-index: 5;

  @include media-breakpoint-up(md) {
    float: left;
    width: 310px;
    margin-top: 190px;
  }
}


// Nav Button Mobile
.nav-button-wrap {
  height: 60px;
  width: 60px;
  cursor: pointer;
  position: absolute;
  display: block;
  top: -10px;
  right: 5px;
  z-index: 5001;

  @include media-breakpoint-up(md) {
    display: none;
  }

  .nav-button {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 22px;
    height: 20px;
    margin-left: -11px;
    margin-top: -6px;

    @include media-breakpoint-up(md) {

      position: absolute;
      top: 50%;
      left: 50%;
      width: 30px;
      height: 30px;
      margin-left: -11px;
      margin-top: -1px;
    }

    span {
      float: left;
      width: 100%;
      height: 2px;
      background: #fff;
      margin-bottom: 4px;
      transition: all .3s ease-in-out;

      &:first-child {
        width: 50%;
      }
    }

  }

  &.nbw_tb {
    span {

      width: 0;
    }

    &:before {
      transition-delay: .3s;
      opacity: 1;
    }
  }

  &:before {
    font-family: "Font Awesome 6 Pro";
    content: "\f00d";
    position: absolute;
    left: 0;
    right: 0;
    top: -10px;
    height: 80px;
    line-height: 80px;
    opacity: 0;
    color: var(--main-color);
    font-size: 19px;
    transition: all .3s ease-in-out;
  }

  @include media-breakpoint-up(md) {
    width: 40px;
    height: 40px;
  }
}

// Nav Button Mobile End

.main-nav {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: black;
  padding-top: 120px;
  height: 100%;
  width: 100%;
  display: none;
  z-index: 9999;
  &.open {
    display: block;
  }
  @include media-breakpoint-up(md) {
    display: block;
    padding-top: 0;
    background: none;
    position: relative;
  }

  ul {
    margin: 0 0 30px 0;
    width: 100%;
    padding: 0;
    overflow: hidden;
    @include media-breakpoint-up(md) {
      float: left;
      margin-bottom: 0;
    }
  }

  li {
    margin: 0 0 10px 0;
    position: relative;
    float: left;
    width: 100%;
    list-style: none;
  }

  a {
    color: #fff;
    font-size: 1.6rem;
    height: 42px;
    font-weight: 500;
    line-height: 42px;
    text-transform: uppercase;
    position: relative;
    display: block;
    text-decoration: none;
  }
}
